
# a suggested standard is to preface variables from config files
# with 'CFG_' so that you know their origin in the script
# changing their values in the script is a bad idea
# if you find that you want to do that, it could be you
# need another script and/or configuration file or variable

echo Setting CONFIG variables

export CFG_RMAN_LOGIN='rman/rmanpassword@rcat'
export CFG_AVAIL_LOGIN='avail/availpassword'
export CFG_LOCKFILE='/tmp/template.lock'

#######################
# custom cmds setup
#######################

# add paths to this value if commands you need to include
# are not found in normal linux PATH, or not in $ORACLE_HOME/bin
# remember to set ORACLE_HOME before calling 

CFG_CUSTOM_PATH="$ORACLE_HOME/oui/bin $ORACLE_HOME/jdk/bin /usr/X11R6/bin"

# include any commands here that are not included in CMD_LIST
# or ORACLE_LIST in orafunctions.sh
#
# keep in mind that any of these cmds that cannot be found
# will cause initialization of orafunctions.sh to fail
# you may need to edit CUSTOM_PATH

CFG_CUSTOM_CMDS='xclock dbca netmgr jar java javac runInstaller.sh'

# in your script you will need to call setCustomCmds
# see template.sh for an example

